ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

li {
  float: right;
}

li a {
  display: block;
  color: var(--color-secundario);
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-family: var(--fuente-texto);
  font-weight: bold;
  cursor: pointer;
}

li a:hover {
    text-decoration: underline 2px solid ;
}
