
h1{
    font-family: var(--fuente-titulo);
    font-size: 4rem;
    font-weight: lighter;
    color: var(--color-letra);
}

h2{
    font-family: var(--fuente-titulo);
    font-size: 3.125rem;
    font-weight: lighter;
    color: var(--color-letra);
}

h3{
    font-family: var(--fuente-texto);
    font-size: 2.75rem;
    font-weight: lighter;
    color: var(--color-letra);
}

h4{
    font-family: var(--fuente-texto);
    font-size: 2.25rem;
    font-weight: lighter;
    color: var(--color-letra);
}

h5{
    font-family: var(--fuente-texto);
    font-size: 1.75rem;
    font-weight: lighter;
    color: var(--color-letra);
}

h6{
    font-family: var(--fuente-texto);
    font-size: 1.5rem;
    font-weight: lighter;
    color: var(--color-letra);
}

p{
    font-family: var(--fuente-texto);
    font-size: 1rem;
    font-weight: bold;
    color: var(--color-secundario);
    
}