.seccion__videos{
    width: auto;
    height: 100vh;
    background-color: #D0ECEC;
}

.seccion__videos h2{
    text-align: center;
    padding-top: 20px;
    color: rgba(104, 160, 138, 0.705);
}

.contenedor{
    min-height: 80vh;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #add6cfd5;
    border-radius: 20px;
    box-shadow: 0 3px 2px 0 #94cec4d5, 2 3px 10px 5 rgba(104, 160, 138, 0.705), 0 3px 1px -2px rgba(0,0,0,0.2);
    margin: auto;
}

.contenedor::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    pointer-events: none ;
    transition: all 0.4s ease;
}

.contenedor.active::before{
    opacity: 1;
}

.contenedor__videos{
    height: 100%;
    max-width: 1200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 5px 10px;
    position: relative;
}

.contenedor__videos .main-video{
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% ,-50%);
    z-index: 999; 
    transition: all 0.4s ease;
    opacity: 0;
    pointer-events: none;
}

.contenedor.active .contenedor__videos .main-video{
    transform: translate(-50% ,-50%);
    opacity: 1;
    pointer-events: auto;
}

.contenedor__videos .main-video .cerrar{
    position: absolute;
    top: -10px;
    right: -36px;
    cursor: pointer;
}

.contenedor__videos .main-video video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.contenedor__videos .videos{
    height: 200px;
    width: 350px;
    margin: 20px;
    position: relative;
    pointer-events: auto;
} 

.contenedor__videos .videos::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0,0, 0, 0.6);
}

.contenedor__videos .videos i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.contenedor__videos .videos video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    box-shadow: 0 3px 2px 0 #94cec4d5, 2 3px 10px 10 rgba(104, 160, 138, 0.705), 0 3px 1px -2px rgba(0,0,0,0.2);
    pointer-events: none;
}
